.hero {
  position: relative;
  min-height: 240px;
  height: 25.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('./hero.png');

  &__text {
    img {
      padding-bottom: 1.5vw;
    }

    width: 33vw;
    min-width: 200px;
    text-align: left;
    position: absolute;
    top: 11vw;
    transform: translateY(-5.5vw);
    color: white;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
  }
}
