.container {
  padding-right: 12.803vw;
  padding-left: 12.803vw;
}

.fullBGcontainer {
  margin-right: -12.803vw;
  margin-left: -12.803vw;
  padding-right: 12.803vw;
  padding-left: 12.803vw;
}

.containerY {
  padding-top: 6vw;
  padding-bottom: 6vw;
}
